.artist-image {
    display: flex;
    flex-direction: column;
    width: 300px;
    background: #fff;
  
    .product-image {
      height: 50%;
      overflow: hidden;
      aspect-ratio: auto;
    }
    img {
        width: 100%;
      }
      
      button{
        padding: 1em;
        
        &:hover {
          background: #eee;
        }
        
      }
      .add-to-cart {
        border: 1px solid #141414;
        text-transform: uppercase;
        margin-bottom: 1em;
      }
    
    }